body{
    background-color: white;
}
.banner-image {
    background-image: url(Maldives.jpg);
    background-size: cover;}

.navbar-brand{
    font-family: 'Leckerli One', cursive;
}

h1 {
    font-family: 'Leckerli One', cursive;
    color: white;
    font-size: 5em;
    text-shadow:  1px 1px 2px black;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    color: pink;
    text-shadow: 1px 1px 2px black;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    
}
nav{
    background-image: linear-gradient(to right, violet,mediumpurple,royalblue);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.448);
  
}
.container-sm{ 

background-color: whitesmoke;
margin-top: 1.5em;
margin-bottom: 1.5em;
border-radius: 8px;
box-shadow: 4px 4px 4px rgba(46, 45, 45, 0.52);
display: grid;
grid-template-columns: 4fr 3fr 3fr ;
grid-template-rows: 100%;
grid-gap: 15px;





}
.child1 {
    background-color: plum;
    border-radius: 8px;
    margin-bottom: 3em;
    margin-top: 10px;
    
}
.child1 > p {
    font-family: 'Anton', sans-serif;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.616);
    font-size: 5.0vw;
    color: white;
    padding: 8px;
    

}
.form-control-sm {
    width: 50%;
  
}
.child2 > img {
box-shadow: 2x 2px 2px rgba(0, 0, 0, 0.593);
margin-top: 10px;
}
.child2 > p {
    text-align: justify;
    text-align: center;
   
}
.child4{
    box-shadow: 2x 2px 2px rgba(0, 0, 0, 0.593);
    margin-top: 35%;
}
.child4 > p {
    text-align: justify;
    text-align: center;
}
footer {
        text-align: center;
        padding: 3px;
        background-color: DarkSalmon;
        color: white;
        background-image: linear-gradient(to right, violet,mediumpurple,royalblue);
      }

footer > p > a {
        color: white;
      }